.chat-side
 .side-header
  .side-header__box
   .side-header__box__user-name
    = current_user.name
   .side-header__box__btn
    = link_to "/groups/new", class: "side-header__box__btn__new-group" do
     = icon('fas', 'pen-square', class: 'side-header__box__btn__icon')
    = link_to "/users/current_user/edit", class: "side-header__box__btn__edit-user" do
     = icon('fas', 'cog', class: 'side-header__box__btn__icon')


 .groups
  - current_user.groups.each do |group|
   .group
    = link_to group_messages_path(group) do
     .group__name
      = group.name
     .group__message
      = group.show_last_message